
.alert-variant(@background; @border; @alert-text-color-arg) {
  background-color: #fff;
  //border-color: @border;
  color: @alert-text-color;
  border: 1px @border solid;
  border-left: 10px @border solid;
  list-style-type: none;
  
  hr {
    border-top-color: darken(@border, 5%);
  }
}

.alert {
  list-style-type: none;
  .button {
    .btn;
    .btn-default;
    .pull-right;
  }
}
