
.alert-variant(@background; @border; @alert-text-color-arg) {
  background-color: @bg-white;
  //border-color: @border;
  color: @alert-text-color;
  border: 0;
  border-left: 10px @border solid;

  hr {
    border-top-color: darken(@border, 5%);
  }

  list-style-type: none;

  .alert-link, a {
    .btn;
    .btn-default;
    .pull-right;
  }
}